# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Segredos (não commitar)
.env
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ambientes Virtuais Python (se houver)
venv/
env/
__pycache__/

# Pastas de IA (caso ainda tenha sobrado algo)
runs/
cnn_saved_model*/
treinamento_ia/
